@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ul {
        list-style: initial;
        margin: 1rem 0;
        padding-left: 2rem;
    }

    body {
        color: #ffffffe5;
    }
}

body::-webkit-scrollbar {
    @apply w-2;
}
body::-webkit-scrollbar-track {
    @apply bg-blue-500;
}
body::-webkit-scrollbar-thumb {
    @apply border-[0.25rem] border-blue-500 bg-red-500/90;
}

@media (max-width: 360px) {
    html {
        font-size: 80%;
    }
}

@media (min-width: 1220px) {
    html {
        font-size: 105%;
    }
}
