@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #ffffffe5;
  }

  *::-webkit-scrollbar {
    @apply h-2 w-2;
  }
  *::-webkit-scrollbar-track {
    @apply bg-blue-500;
  }
  *::-webkit-scrollbar-thumb {
    @apply border-[0.25rem] border-blue-500 bg-red-500/90;
  }

  @media (max-width: 370px) {
    html {
      font-size: 90%;
    }
  }

  @media (min-width: 1220px) {
    html {
      font-size: 105%;
    }
  }
}

@layer base {
  input {
    @apply rounded-md border border-blue-400 bg-blue-800 px-4 py-3 text-blue-200 outline-none placeholder:text-blue-300 focus:border-red-500;
  }
}
